@import "../../styles/default/variables";

.footer {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  height: 69px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $secondary-text-color;
  justify-content: center;
   @media screen and (min-width: 768px) {
    display: grid;
    width: 768px;
  
    
  }
  @media screen and (min-width: 1360px) {
    display: grid;
    width: 1360px;
  
    
  }
 
  
}
.iconsWrapper {
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    
  margin-left: 18px;
    
  }
}

.iconItem:not(:last-child) {
  margin-right: 25px;
}

.iconItem svg{
    fill: white;
    &:hover,
    &:focus{
        cursor: pointer;
        fill: $btn-main-color;
    }
}

.copyright {
    margin-top: 12px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $main-font-color;
    
  }