@import "../../styles/default/variables";

.header {
  padding: 22px 22px 0px 22px;
  height: 98px;
  width: 256px;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items:flex-start;
    padding: 16px 32px 0px 32px;
    height: 104px;
    width: 704px;
    
  }
   @media screen and (min-width: 1360px) {
    display: flex;
    width: 1303px;
    height: 48px;
    padding: 32px 29px 0px 28px;
  }

}

.navItems {
  display: flex;
  @media screen and (min-width: 768px) {
    margin-left: 73px;
    margin-top: 12px;
  }
  @media screen and (min-width: 1360px) {
    margin-left: 587px;
    margin-top: 16px;
  }
}

.logo {
  display: flex;
  margin-bottom: 16px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;

  &:hover,
  &:focus {
    transform: scale(1.03);
    filter: brightness(1.1);
  }
  @media screen and (min-width: 768px) {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 48px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 768px) {
 display: flex;
 align-items: center;

  }
}

.finance {
  color: $btn-main-color;
  margin-left: 8px;
  margin-right: 8px;
  @media screen and (min-width: 768px) {
    margin-left: 10px;
    margin-right: 0px;
  }
   @media screen and (min-width: 1360px) {
    margin-left: 4px;
    margin-top: 4px;
  }
}
.ledger {
  color: $main-font-color;
}
.navItem {
  font-family: "Open Sans";
  font-style: normal;
  border-bottom: 3px #11ffee00 solid;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $main-font-color;

  &:hover,
  &:focus {
    text-decoration: none;
    border-bottom: 3px $btn-main-color solid;
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }
}
.navItem:not(:last-child) {
  margin-right: 8px;
   @media screen and (min-width: 768px) {
   margin-right: 20px;
  }
  @media screen and (min-width: 1360px) {
    margin-right: 46px;
  }
}

.logoIcon {
  fill: $btn-main-color;
}
